<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Marionette Contact Manager</title>
  <link href="public/css/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="public/css/application.css" rel="stylesheet">
</head>

<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="container">
        <div class="navbar-header"><span class="navbar-brand">Contact Manager</span>
        </div>
      </div>
    </div>
  </div>

  <div id="main-region" class="container"></div>
  <div class="modal fade" id="dialog-region" tabindex="-1" role="dialog" aria-hidden="true"></div>

  <script src="public/js/app.js"></script>
</body>

</html>
