<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Marionette Contact Manager</title>
  <link href="public/css/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="public/css/application.css" rel="stylesheet">
</head>

<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="container">
        <div class="navbar-header"><span class="navbar-brand">Contact Manager</span>
        </div>
      </div>
    </div>
  </div>

  <div id="main-region" class="container">
    <p>Here is static content in the web page. You'll notice that it gets replaced by our app as soon as we start it.</p>
  </div>

  <!-- templates -->
  <script type="text/template" id="static-template">
    <p>This is text that was rendered by our Marionette app.</p>
  </script>

  <script src="public/js/app.js"></script>
</body>

</html>
