<td>{{ firstName }}</td>
<td>{{ lastName }}</td>
<td>
  <a href="#contacts/{{ id }}" class="btn btn-sm btn-default js-show">
    <i class="glyphicon glyphicon-eye-open"></i>
    Show
  </a>
  <button class="btn btn-sm btn-danger js-delete">
    <i class="glyphicon glyphicon-remove"></i>
    Delete
  </button>
</td>
