<button class="btn btn-primary js-new">New Contact</button>
<form id="filter-form" class="form-inline pull-right">
  <div class="input-append">
  <input type="text" class="search-query js-filter-criterion form-control">
  <button type="submit" class="btn btn-default">Filter contacts</button>
  </div>
</form>