<h1>{{ firstName }} {{ lastName }}</h1>
<a href="#contacts/{{ id }}/edit" class="btn btn-sm btn-default js-edit">
  <i class="glyphicon glyphicon-pencil"></i>
  Edit this contact
</a>
<p><strong>Phone number:</strong> {{ phoneNumber }}</p>
